
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wthreepvt-pos py-md-5 py-5" id="positions">

	<div class="main-recruiment">

		<div class="recruitment px-3 py-2">
			@TempData["ErrorMessgae"]
		</div>
	</div>
</div>

