@model Model.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Login</title>
    @Scripts.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="../csshome/reset.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../csshome/fonts.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="../assetshome/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="../assetshome/select2/css/select2.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../assetshome/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Magnific Popup -->
    <link href="../assetshome/magnific-popup/css/magnific-popup.css" rel="stylesheet">
    <!-- Iconmoon -->
    <link href="../assetshome/iconmoon/css/iconmoon.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="../assetshome/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <!-- Animate -->
    <link href="../csshome/animate.css" rel="stylesheet">
    <!-- Custom Style -->
    <link href="../csshome/custom.css" rel="stylesheet">
</head>

<body style="background: url(../imageshome/login-bg.jpg) no-repeat center center / cover;
    background-attachment: fixed;">

    <!-- Start Preloader -->
    <div id="loading">
        <div class="element">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Start Login -->
    <section class="login-wrapper">
        <div class="inner">
            <div class="login">
                <div class="login-logo"> <a href="index-2.html"><img src="../imageshome/footer-logo.png" class="img-responsive" alt=""></a> </div>
                <div class="head-block">
                    <h1>CHANGE PASSWORD</h1>
                </div>
                <div class="cnt-block" style="opacity:90%;">
                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" id="username" class="form-control" placeholder="KIEN...." style="width:100%;" />
                        <label>Old Password</label>
                        <input type="password" id="oldpassword" class="form-control" style="width:100%;" />
                        <label>NewPassword</label>
                        <input type="password" id="newpassword" class="form-control" style="width:100%;" />
                        <label>Re-enter New Password</label>
                        <input type="password" id="renewpassword" class="form-control" style="width:100%;" />
                    </div>
                    <span id="AlertShow" style="color:red;"></span>
                    <div class="button-outer">
                        <button class="btn" id="Update">UPDATE</button>
                        <div class="or hidden-xs">or</div>
                        <a href="/Home/LoginPage" class="btn register">LOGIN<span class="icon-more-icon"></span></a>
                    </div>

                </div>
                <div class="login-footer">
                    <ul class="follow-us clearfix">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../jshome/jquery.min.js"></script>
    <!-- Bootsrap JS -->
    <script src="../assetshome/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="../jshome/custom.js"></script>
    <script>
        $(document).ready(function () {
            $("#Update").click(function () {
                var serviceURL = '/Home/ChangePassword';
                var username = $('#username').val();
                var oldpassword = $('#oldpassword').val();
                var newpassword = $('#newpassword').val();
                var renewpassword = $('#renewpassword').val();

                if (username == "" || username == null) {
                    $('#AlertShow').text("Please enter Username");
                    setInterval(function () {
                        $('#AlertShow').text("")
                    }, 5000);
                   
                    return;
                }
                else if (oldpassword == "" || oldpassword == null) {
                    $('#AlertShow').text("Please enter OldPassword");
                    setInterval(function () {
                        $('#AlertShow').text("")
                    }, 5000);
                    return;
                }
                else if (newpassword == "" || newpassword == null) {
                    $('#AlertShow').text("Please enter New Password");
                    setInterval(function () { $('#AlertShow').text("") }, 5000);
                    return;
                }
                else if (newpassword != renewpassword) {
                    $('#AlertShow').text("Re-new password not exactly");
                    setInterval(function () { $('#AlertShow').text("") }, 5000);
                    return;
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: serviceURL,
                        data: JSON.stringify({ username: username, oldpassword: oldpassword, newpassword: newpassword }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: successFunc,
                        error: errorFunc
                    });
                    function successFunc(data) {
                        var rls = data.Status
                        if (rls == "Fail") {
                            $('#AlertShow').text(data.Data);
                            setInterval(function () { $('#AlertShow').text("") }, 5000);
                            return;
                        }
                        else {
                            $('#AlertShow').text(data.Data);
                            $('#AlertShow').css('color', 'green');
                            setInterval(function () { $('#AlertShow').text("") }
                                , 10000);
                            return;
                        }
                    }
                    function errorFunc() {
                        alert('error');
                    }
                }
            })
        })
        
    </script>
</body>

</html>