
@{
	ViewBag.Title = "JobDetail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner-w3ls">
</div>
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb d-flex justify-content-center bg-theme">
		<li class="breadcrumb-item">
			<a href="index.html" class="text-white">Home</a>
		</li>
		<li class="breadcrumb-item">
			<a href="job_list.html" class="text-white">Danh Sách Job</a>
		</li>
		<li class="breadcrumb-item active text-white font-weight-bold" aria-current="page">Công Việc</li>
	</ol>
</nav>
<!-- //breadcrumbs -->
<!-- job description -->
<section class="employ-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-9  mx-auto" id="job-desc">
				<div class="title-sec-w3layouts_pvt text-center pb-4">
					<span class="title-wthree">Web Developer (Nodejs, HTML5, AngularJS)</span>
					<h4 class="w3layouts_pvt-head">FPT Software</h4>
					<p class="my-lg-4 mt-4 js_txt">
						- Lập trình phần mềm quản lý bệnh viện theo sự phân công của quản lý dự án <br>
						- Vận hành sản phẩm, hỗ trợ hướng dẫn người dùng <br>

						- Xử lý sự cố phát sinh khi vận hành phần mềm <br>

						- Báo cáo công việc cho quản lý dự án <br>
					</p>
					<a href="#job-desc" class="btn wthree-bnr-btn scroll ">Đọc Thêm</a>
				</div>
				<div class="e-left pt-lg-5">
					<img src="~/Assets/images/fe.png" alt="" class="img-fluid">
					<hr>
					<div class="e-desc">
						<div class="job-desc-w3ls">
							<ul>
								<li>Role: <strong>Front-End Developer</strong></li>
								<li>Industry: <strong>Mobile / Software Development</strong></li>
								<li>Company size: <strong> 5k-10k People</strong></li>
								<li>Job type: <strong>Permanent</strong></li>
								<li>Experience level: <strong>Mid-Level, Senior, Lead</strong></li>
								<li>Lương: <strong>Thoả thuận</strong></li>
								<li>Địa điểm: <strong>Hà Nội / TP Hồ Chí Minh</strong></li>

							</ul>
						</div>
						<hr>
						<div class="tech-job">
							<h5 class="w3layouts_pvt-head">technologies included.</h5>
							<ul class="e-tags">
								<li>NODE JS</li>
								<li>HTML5</li>
								<li>Bootstrap</li>
								<li>angular js</li>
								<li>c++</li>
							</ul>
						</div>
						<hr>
					</div>
				</div>

				<div class="job-role">
					<h5 class="w3layouts_pvt-head">Quyền Lợi</h5>

					<div class=" job-desc-w3ls">
						<ul class="mt-3">

							<li>
								<i class="fa fa-angle-right mr-3"></i>Thời gian làm việc: Thứ Hai – Thứ Sáu
							</li>
							<li>
								<i class="fa fa-angle-right mr-3"></i>Môi trường làm việc thân thiện, năng động
							</li>

							<li>
								<i class="fa fa-angle-right mr-3"></i>Được làm việc với các doanh nghiệp, tập đoàn trong và ngoài nước ở nhiều lĩnh vực khác nhau
							</li>
							<li>
								<i class="fa fa-angle-right mr-3"></i>Được tham gia bảo hiểm FPTCare cho bản thân và gia đình;
							</li>
							<li>
								<i class="fa fa-angle-right mr-3"></i>Du lịch/nghỉ mát cùng công ty hàng năm.
							</li>
							<li>
								<i class="fa fa-angle-right mr-3"></i>15 ngày phép/năm và các ngày nghỉ Lễ theo quy định;
							</li>
							<li>
								<i class="fa fa-angle-right mr-3"></i>Lương tháng 13 và thưởng KPI;
							</li>
							<li>
								<i class="fa fa-angle-right mr-3"></i>Xem xét tăng lương hàng năm;
							</li>
							<li>
								<i class="fa fa-angle-right  mr-3"></i>Tham gia các hoạt động văn hoá, sự kiện hấp dẫn của Công ty FPT IS và Tập đoàn FPT.
							</li>
						</ul>
					</div>
				</div>


				<a href="#exampleModal" class="btn wthree-bnr-btn text-capitalize" data-toggle="modal" aria-pressed="false"
				   data-target="#exampleModal" role="button">
					Apply
					for job
				</a>
			</div>

		</div>

	</div>
</section>