
@{
	ViewBag.Title = "Index";
}
<h2>Student</h2>
<div class="wthreepvt-pos py-md-5 py-5" id="positions">
	<div class="container">
		<div class="content-account">
			@Html.ActionLink("MyProfile", "MyProfile", "Student", new { htmlAttributes = new { @class = "navbar-brand" } })
		</div>
	</div>
</div>

