@model FPTInternshipManagement.Models.StudentViewModel

@{
	ViewBag.Title = "MyProfile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wthreepvt-pos py-md-5 py-5" id="positions">
	<div class="container">
		<div class="content-account">

			<br>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="myTab">
				<li class="nav-item show">
					<a class="nav-link active" data_id="1" data-toggle="tab" href="#Account">Account</a>
				</li>
				<li class="nav-item show">
					<a class="nav-link" data_id="2" data-toggle="tab" href="#Aspirations">Aspirations</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">

				<div id="Account" class="container tab-pane active">
					<form action="#" method="post" class="p-3">
						<br>
						<div class="table-responsive">
							<table class="table-avatar-name">
								<tbody>
									<tr>
										<td>
											<div class="div-avatar">
												<img class="user-avatar" src="#" />
											</div>
										</td>
										<td class="user-name">Do Duc</td>
									</tr>
								</tbody>
							</table>
						</div>
						<br>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Email</label>
							<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email"
								   required="">
						</div>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Name</label>
							<input type="text" class="form-control" placeholder=" " name="Email" id="recipient-email"
								   required="">
						</div>
						<div class="form-group">
							<label for="recipient-email" class="col-form-label">Address</label>
							<input type="email" class="form-control" placeholder=" " name="Email" id="recipient-email"
								   required="">
						</div>
						<div class="custom-file mb-3">
							<label class="custom-file-label" for="customFile">CV File</label>
							<input type="file" class="custom-file-input" id="customFile" name="filename">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control bg-theme" value="Save">
						</div>
					</form>
				</div>
				<div id="Aspirations" class="container tab-pane fade">
					@using (Html.BeginForm("MyProfile", "Student"))
					{
						<div class="form-group">

							<p style="width:80%;" ;>
								Objective:<br><textarea style="width:60%;background-color: #eeeeee; " ; type="text" class="form-control  border-0 border-rounded" id="" placeholder="SE04596"
														name="email" required> </textarea>
							</p>
							<br>
							<p>
								Skill:
								<br>
								@Html.DropDownListFor(x => x.SelectedSkillId, Model.SelectListItems, new { id = "dropdownSkill", Name = "dropdownSkill", @class = "form-control" })
								<table>
									<tr>

										<td style="padding: 20px 20px 0px 0px;">
											Start Date:
										</td>
										<td style="padding: 20px 20px 0px 0px;">
											Description:
										</td>
										<td></td>

									</tr>
									<tr>

										<td style="padding: 20px 20px 20px 0px;">
											<input id="datepicker" width="200" />
										</td>
										<td style="padding: 20px 20px 20px 0px;">
											<input style="background-color: #eeeeee; " ; class="form-control  border-0 border-rounded" type="text" placeholder="">
										</td>
										<td style="padding: 20px 20px 20px 0px;">
											<button type="submit" class="btn btn-primary">Add Skill +</button>
										</td>

									</tr>
								</table>
							</p> <br>
							<div class="tech-job">
								<br/>
								<button class="collapsible " style="width:100% ;text-align: center; color: #fff!important; background-color: #616161!important;">HTML5</button>
								<div class="content " style="text-align:center;">
									<p>Date : 16/08/2019</p>
									<p>Description : Xin chao</p>
								</div>

							</div>

							<p style="width:80%;">
								Other Information:<br><textarea style="width:60%;background-color: #eeeeee; " ; type="text" class="form-control  border-0 border-rounded" id="" placeholder="SE04596"
														name="email" required> </textarea>
							</p>
							<br>
							<div class="right-w3l">
								<input type="submit" class="form-control bg-theme" formaction="/Student/SaveAspiration" value="Save" name="btnSave">
							</div>

						</div>
					}
				</div>

			</div>

		</div>

	</div>
</div>
<script>
	$(".custom-file-input").on("change", function () {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});

	$('chosen-select').chosen();


</script>
<script>
	$('#datepicker').datepicker({
		uiLibrary: 'bootstrap4'
	});
</script>

<script>

	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function () {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
				content.style.display = "none";
			} else {
				content.style.display = "block";
			}
		});
	}
</script>

<style>
	.collapsible {
		color: white;
		cursor: pointer;
		text-align: left;
		outline: none;
	}


	.content {
		padding: 0 18px;
		display: none;
		overflow: hidden;
		background-color: #f1f1f1;
	}
</style>
@Html.Raw(TempData["Script"])



