
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wthreepvt-pos py-md-5 py-5" id="positions">
    <div class="container py-lg-5">
        <div class="wthreepvt-pos-row row  text-center">
            @foreach (var item in ViewBag.NameTable)
            {
                <div class="col-lg-4 col-sm-6 wthreepvt-pos-grids">
                    <div class="p-md-5 p-sm-3">
                        <select>
                            <option value="@item">@item</option>
                        </select>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

